.main-background {
  background-color: #dedede;
  background-image: url("/assets/erau-eagle.svg"),
    url("/assets/background_waves.svg");
  background-position: top center, bottom;
  background-repeat: no-repeat;
  background-size: auto 28%, cover;
  opacity: 1;
  position: fixed;
}