.main-background {
    background-color: #0e141b;
    background-image: url("/assets/background_waves.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: fixed;
    bottom: 0px;
}