<div class="h-full flex justify-center items-center">
  <div class="flex flex-col bg-slate-200 rounded-lg p-8 space-y-4">
    <div class="relative mb-2">
        <p class="font-semibold text-2xl text-center">Join Session Queue</p>
        <p class="font-semibold text-5xl text-center" style="font-family: 'Maven Pro', sans-serif;">{{ roomid.toUpperCase() }}</p>
    </div>
    <!-- join button -->
    <div class="relative">
      <button class="primary-secondary button-secondary absolute z-10">
        -
      </button>
      <button (click)="join()" class="button primary z-10 relative">
        Join
      </button>
    </div>
    <!-- name input -->
    <div class="w-full p-2 pt-0">
      <!-- TODO: add an input format requirement -->
      <form (ngSubmit)="join()">
        <input
          type="text"
          placeholder="Name"
          class="w-full rounded-md p-2 border-gray-400 z-0 relative font-bold outline-none"
          [ngClass]="{
            'border-red-500':
              studentname.invalid && (studentname.touched || submitted)
          }"
          [formControl]="studentname"
          style="text-align: center; border-width: 3px"
        />
      </form>
    </div>
  </div>
</div>
